<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col routerLink="/drivers" size="4">
        <div class="card">
          Manage Drivers
        </div>
      </ion-col>
      <ion-col routerLink="/passengers" size="4">
        <div class="card">
          Manage Riders
        </div>
      </ion-col>
      <ion-col routerLink="/trips" size="4">
        <div class="card">
          Manage Trips
        </div>
      </ion-col>
      <ion-col routerLink="/withdraws" size="4">
        <div class="card">
          Manage WidthDraw Requests
        </div>
      </ion-col>
      <ion-col routerLink="/coupons" size="4">
        <div class="card">
          Manage Coupons
        </div>
      </ion-col>
      <ion-col routerLink="/notifications" size="4">
        <div class="card">
          Manage Notifications
        </div>
      </ion-col>
      <ion-col routerLink="/cars" size="4">
        <div class="card">
          Manage Cars
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>