<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="6">
        <ion-list lines="none">
          <ion-item>
            <ion-label>Enable Rider Signup</ion-label>
            <ion-toggle [(ngModel)]="settings.canRiderSignup"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Currency Symbol</ion-label>
            <ion-input type="text" [(ngModel)]="settings.currency"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Emergency (SOS)</ion-label>
            <ion-input type="text" [(ngModel)]="settings.sos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Rider Support URL</ion-label>
            <ion-input type="text" [(ngModel)]="settings.riderSupportURL"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Rider Terms URL</ion-label>
            <ion-input type="text" [(ngModel)]="settings.riderTermsURL"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Rider Privacy URL</ion-label>
            <ion-input type="text" [(ngModel)]="settings.riderPrivacyURL"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list lines="none">
          <ion-item>
            <ion-label>Enable Driver Signup</ion-label>
            <ion-toggle [(ngModel)]="settings.canDriverSignup"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Driver Signup Bonus</ion-label>
            <ion-input type="text" [(ngModel)]="settings.driverSignupBonus"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Driver Initial Rating (0-5)</ion-label>
            <ion-input type="text" [(ngModel)]="settings.driverInitialRating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Driver Support URL</ion-label>
            <ion-input type="text" [(ngModel)]="settings.driverSupportURL"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Driver Terms URL</ion-label>
            <ion-input type="text" [(ngModel)]="settings.driverTermsURL"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Driver Privacy URL</ion-label>
            <ion-input type="text" [(ngModel)]="settings.driverPrivacyURL"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <div style="text-align: center;">
      <ion-button (click)="save()">Save Changes</ion-button>
    </div>
  </ion-card>
</ion-content>